
@{
    ViewBag.Title = "EmptyAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="jumbotron" style="height:auto">
    <h2>there is no added authors yet !</h2>
    <br />
    @Html.ActionLink("Back To Editing !", "Home", "Authors", null, null)
    <br />
    <br />
    @Html.ActionLink("Add Author?", "createauthor", "Authors", null, null)
</div>