@{
    ViewBag.Title = "Contact";
}

<br/>
<br/>
<div class="jumbotron">
  
 
    <h2>For any problems contact that email</h2>


    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">hadeerkarim60@yahoo.com</a><br />

    </address>
  
  
</div>

